<html>
<head>
	<title> Secret Page</title>
</head>
<body>

<div style='display: grid; grid-template-columns: auto auto;'>

	<div>
		<h1>Congrats you logged in </h1>
		<form action = '/new_post' method = 'post'>
			<h2> Title </h1>
			<textarea name='title' rows="1" cols="25">
			</textarea>
			<h2> Body </h2>
			<textarea name='body' rows="4" cols="50">
			</textarea>
			<br>
			<input value="POST" type="submit">
		</form>	
	</div>

	<div>
		% for post in posts: 
		<h1>{{post[0]}}</h1>
		<p>{{post[1]}}</p>
		<hr>
		% end
	</div>
</div>

</body>
</html>